<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> You  are using this website for updation of your daily task.<br>
        The website is created to reduce the manual task done by the leads to collect the<br>
        daily work of the associates. <br> 
    <h4>Advanages :</h4><br>
        1. Reduces work done by leads, and saves their time. <br>
        2. Saves time.(Everyone can enter data at the same time) <br>
        3. Removes manual collection of data. <br>
    </p>
</body>
</html>