{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    

    <title>DAILY STATUS</title>
</head>
<body >
    <nav class="navbar navbar-expand-sm bg-dark container-fluid">
        <h3 style="color:white;">Daily Status</h3> &nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a style="color:white;float:right" href="home"><h5>Home</h5></a></li>&nbsp;&nbsp;
            <li class="nav-item active"><a style="color:white;float:right" href="history"><h5>History</h5></a></li>
        </ul>

        <h5><a style="color:white;float:right" href="logout"> Logout</a></h5>&nbsp;&nbsp;
        <h5><a style="color:white;float:right" href="help">About</a></h5>
    </nav>

    
    <div style="color:red">
        {%for message in messages%}
            <p><h5 style="text-align:center;color:red;">{{message}}</h5></p>
        {%endfor%}
    </div>
    <h5 > Welcome, {{fname}} all your status are present below !!</h5>
    
    <div class="container mt-3">
    <table class=" table-striped table-bordered table mytable">
        <thead class="thead-dark">
            <th>User Emp-ID</th>
            <th>T-factor</th>
            <th>Trainings</th>
            <th>Projects</th>
            <th>Status</th>
            <th>Upcoming Leaves</th>
            <th>Updation Date</th>
            <th>Updation Time</th>
        </thead>

        <!-- all historical data -->
        {% for x in hist %}
        <tr>
            <td>{{x.user}}</td>
            <td>{{x.t_factor}}</td>
            <td>{{x.trainings}}</td>
            <td>{{x.projects}}</td>
            <td>{{x.status}}</td>
            <td>{{x.leaves}}</td>
            <td>{{x.updated_on.date}}</td>
            <td>{{x.updated_on.time}}</td>          
        </tr>
        {% endfor %}

        <!-- current data -->

        {% for y in today %}
        <tr>
            <td>{{y.user}}</td>
            <td>{{y.t_factor}}</td>
            <td>{{y.trainings}}</td>
            <td>{{y.projects}}</td>
            <td>{{y.status}}</td>
            <td>{{y.leaves}}</td>
            <td>{{y.updated_on.date}}</td>
            <td>{{y.updated_on.time}}</td>            
        </tr>
        {% endfor %}

    </table>
    </div>
    <br>
    <h5 > To export data in .xls format <a href='status_data'>click here</a></h5><br>

    <h5>To have a look at projects of all associates click the button&nbsp;<a href="project_data"><button class="btn btn-secondary">Project data</button></a></h5>

    <div style="margin-top:4%;background:black;padding:1%;color:white;bottom:0px;">
        <h6>&copy; <b>EAS</b> HCM</h6>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
                $(".mytable").DataTable();
    </script>
</body>
</html>




